<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>StudyTube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="search-bar">
        <a href="/">
            <h1>StudyTube</h1>
        </a>
        <form method="POST" action="/search">
            <input type="text" name="query" placeholder="Search for videos..." required>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="video-grid">
        {% if videos %}
        {% for video in videos %}
        <div class="video-card">
            <a href="/play/{{ video.videoId }}">
                <div class="thumbnail-container">
                    <img class="thumbnail" src="{{ video.snippet.thumbnails.high.url }}" alt="Thumbnail">
                    <div class="duration-badge">{{ video.duration|int // 60 }}:{{ "%02d" % (video.duration|int % 60) }}
                    </div>
                </div>
            </a>
            <div class="video-info">
                <img class="channel-logo" src="{{ video.channel_logo }}" alt="Channel Logo">

                <div class="video-details">
                    <p class="title">{{ video.snippet.title }}</p>
                    <p class="channel">{{ video.snippet.channelTitle }}</p>
                    <p class="meta">{{ video.views }} views • {{ video.published_date }} ago</p>

                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <p>No videos found.</p>
        {% endif %}
    </div>
</body>

</html>